@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Segoe UI';
}

body {
    color: white;
    background-color: rgb(8, 8, 8);
}

header {
    height: 45vh;
    width: 100%;
    background: url(./assets/tokyo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;

    nav {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.103);

        h2 {
            margin-left: 2%;
        }

        ul {
            display: flex;
            padding-right: 10%;

            li {
                padding-top: 3px;
                list-style: none;

                a {
                    font-weight: 200;
                    padding-left: 10px;
                    text-decoration: none;
                    color: inherit;
                }

                a:hover {
                    color: rgb(119, 0, 255);
                }

            }
        }
    }

    section {
        position: absolute;
        top: 30%;
        left: 50%;
        translate: -50% -50%;

        h1 {
            font-size: 44px;
        }

        h3 {
            font-weight: 200;
        }

        #image-form {
            input {
                width: 79%;
                height: 32px;
                border: none
            }

            button {
                height: 32px;
                border: none;
                background: rgb(132, 0, 255);
                color: white;
                padding: 0 1%;
            }
        }
    }
}

main {
    margin: 0 9%;
    height: 100vh;

    #gallery {
        display: flex;
        flex-wrap: wrap;

        img {
            margin: 0 5px;
            max-height: 300px;
            height: auto;
            max-width: 300px;
            width: auto;

            aspect-ratio: 4/3;
        }

        p {
            margin: 0;
            font-weight: 100;
        }
    }
}

footer {
    width: 100%;
    background-color: black;

    #social-media a i {
        text-decoration: none;
        font-size: 28px;
        text-align: center;
    }

    p {
        text-align: center;
    }
}

//modal

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.modal-header {
    padding: 2px 16px;
    background-color: #320083;
    color: white;
}

.modal-body {
   form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    div {
        display: flex;
        justify-content: right;
        align-items: center;

    };

    div, div input {
        width: 50%;
    }

    div label{
        margin: 0;
    }
    div input {
        margin-left: 10%;
        border-radius: 5px;
        border: none;
    }

    div input:focus {
        border: none;
    }

    button {
        border: none;
        border-radius: 25px;
        margin-top: 10px;
        align-items: center;
        height: 32px;
        width: 20%;
        background-color: #6200ff;
    }

    button:hover {
        background-color: #fff;
        color: #6200ff
    }
   }
    padding: 3% 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #330185;
    color: white;

    h3 {
        font-weight: 200;
    }
}

.modal-content {
    display: block;
    position: relative;
    background-color: #000000a4;
    margin: auto;
    padding: 0;
    border: none;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}


@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}